<%- include('partials/header')%>
<!--  -->
<%- include('partials/nav')%>

<form class="m-auto w-25 mt-5" action="/signin" method="post">
    <h1 class="mb-4">Sign-In Page</h1>
    <input
        class="form-control mb-3"
        type="text"
        placeholder="johndoe"
        name="username"
    />

    <input
        class="form-control mb-3"
        type="password"
        placeholder="********"
        name="password"
    />
    <p class="text-end">
        <a href="/getemail">Forget Password ?</a>
    </p>
    <button class="btn btn-primary w-25">Sign In</button>
    <p>Dont't have an account ? <a href="/signup">signup</a></p>
</form>

<%- include('partials/footer')%>